<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Aula Front-end
        link(rel="stylesheet", href="./build/css/main.css" type="text/css")
    body
    h1 Título principal - unico na página
    h2 Sub Título 2
    h3 Sub Titulo 3
    form(action="")
        label(for="txtBase") test
        input(type="text" value="a" id="txtBase")
    div
        p texto p
            span a
    ul.list-basic
        - for (var x = 0; x < 3; x++)
            li item

    div.block-list
        ul
            - var list = ["Uno", "Dos", "Tres", "Cuatro", "Cinco", "Seis"]
                each it in list
                    li= it
    div.element-cs 
        p triangle
    table
        tr
            td table