<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Aula Front-end
        link(rel="stylesheet", href="./build/css/main.css" type="text/css")
    body
    h1 Título principal - unico na página
    h2 Sub Título 2
    h3 Sub Titulo 3