/**
*/

@import "_mixins";

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Varela+Round&display=swap');

@import "bourbon";
@import "neat";

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: bisque;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}


.first {
  font-weight: bold;
}

.done {
  text-decoration: line-through;
}

p {
  margin: 2px;
  padding: 4px;
  background-color: aqua;

  span {
    margin: 2px;
    padding: 6px;
    background-color: greenyellow;
    font-family: 'Varela', 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif
  }
}
ul.list-basic {
  margin: 5px;
}

div.block-list {
  ul {
    background-color:lightcoral;
    margin: 22px;
    padding: 4px; 

    li {
      font-size: 18px;
      @extend %message-shared;
    }
  }
}

.element-cs {
  &::before {
    @include triangle("up", 2rem, 1rem, #b25c9c);
    content: "";
  }
}

div.box {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  width: 300px;
  color: bisque;
  background-color: teal;
  p {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: chocolate;
    background-color: cornflowerblue;
  }
}



article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
}

