/**
*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Varela+Round&display=swap');

/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
    padding: 0;
    margin:0;
  }

  body {
    padding: 0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    background-color: bisque;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }
  * {
    padding: 0;
    margin:0;
  }

  